<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CA107G3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/member.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Verification</servlet-name>
		<servlet-class>com.tool.Verification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Verification</servlet-name>
		<url-pattern>/tool/Verification.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OutImg</servlet-name>
		<servlet-class>com.tool.OutImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OutImg</servlet-name>
		<url-pattern>/tool/OutImg.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VendorServlet</servlet-name>
		<servlet-class>com.vendor.controller.VendorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VendorServlet</servlet-name>
		<url-pattern>/vendor/Vendor.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employee/Employee.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/employeePage/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
</web-app>